<section>
    <form>
        <div class="form-container">
            <div class="form-group">
                <div class="label-row">
                    <label for="mes">Mês:</label>
                    <label for="ano">Ano:</label>
                </div>
                <div class="input-row">
                    <input type="text" id="mes" name="mes" placeholder="Digite o mês (ex: 01)" [(ngModel)]="consulta.mes" [disabled]="!habilitarComponentes">
                    <input type="text" id="ano" name="ano" placeholder="Digite o ano" [(ngModel)]="consulta.ano" [disabled]="!habilitarComponentes">
                </div>
                <app-selecao-produto [habilitarComponentes]="habilitarComponentes"></app-selecao-produto>
                <div class="label-row">
                    <label for="valor">Valor:</label>
                </div>
                <div class="input-row">
                    <input type="text" id="valor" name="valor" placeholder="" [(ngModel)]="consulta.valor" [disabled]="!habilitarComponentes">
                </div>         
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea id="descricao" name="descricao" rows="2" placeholder="Digite a descrição" [(ngModel)]="consulta.descricao" [disabled]="!habilitarComponentes">{{ consulta.descricao }}</textarea>
            </div>            
            <p></p>
            <div class="button-group">
                <button id="limpar"  type="button" (click)="limparMovimento()" >Limpar</button>
                <button id="novo"    type="button" (click)="habilitarComponentes = true" >Novo</button>
                <button id="Inlcuir" type="button" (click)="incluirMovimento()" >Incluir</button>
            </div>                       
        </div>
        <div>
            <app-listar-movimentos></app-listar-movimentos>
        </div>
    </form>
</section>
